<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">
<head>
    <title>Book</title>
</head>
<body>
<div layout:fragment="childLayoutName">
    <div class="row">
        <div class="col-12">
            <div class="row g-3">
                <div class="col-4" th:each="book : ${books}" th:object="${book}">
                    <div th:replace="~{fragments/card :: cardImg(*{id}, *{isbn}, *{title}, *{author}, *{price}, *{year})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>